<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_el_custom_cms_form %}
    <div class="sw-cms-el-form">
        <component
            :is="selectedForm"
            :form-settings="element.config"
        />
    </div>
{% endblock %}
