<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>CMS configuration</title>
        <input-field type="bool">
            <name>ActiveDeactive</name>
            <label>Active/Deactive</label>
        </input-field>
        <input-field type="bool">
            <name>InquiryFormPopup</name>
            <label>Inquiry Form pop-up</label>

        </input-field>
        <input-field type="bool">
            <name>ShowSearch</name>
            <label>Show Search</label>
        </input-field>
    </card>
</config>
